<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  
  <!--* PART 6: FORM TO UPLOAD A FILE AND READ THE FILE CONTENT -->
  <h1>Form Page</h1>
  <form action="/submit" method="POST" enctype="multipart/form-data">
    <label for="file">Choose a file to upload:</label>
    <input type="file" id="file" name="file" required>
    <button type="submit">Upload</button>
  
</body>
</html>